@import "./../styles/variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#root {
  height: 100%;
}
.resize {
  width: 100%;
}
.subscribe {
  z-index: 2;
  position: absolute;
  top: 15%;
  right: 13%;
  padding: 10px;
}
.iconcol {
  color: $primary;
}
